{% extends "base.html" %}

{% block content %}
<h1>{{ page.title }}</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        {# List all sections #}
        {% for s in sections %}
            <tr>
                <td>{{ s.title }}</td>
                <td><a href="{{ s.permalink }}">{{ s.permalink }}</a></td>
            </tr>
        {% endfor %}
        {# List all pages #}
        {% for p in pages %}
            <tr>
                <td>{{ p.title }}</td>
                <td><a href="{{ p.permalink }}">{{ p.permalink }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}